/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */


 /*google TYPEFACEs*/

 .roboto {font-family: 'Roboto', sans-serif;}

.montserrat {font-family: 'Montserrat', sans-serif;}




/*MAIN DIV COLOR WARDROBE-----------------------------------------*/


.wardrobe {background-color:#FCFBE8;}




/*LOCATION BANNER COLOR LOCATE------------------------------*/

.warm .locate {
  background-color: #D4FFC1;
}
.cold .locate {
  background-color:#BEDFFF;
}

.hot .locate {
  background-color:#FFDC9F;
}




/*MAIN BANNER COLOR STAGE
.hot .stage {
  background-color: #FCF3CF;
}

.cold .stage {background-color: #AEEEB8;}

.warm .stage {background-color:#FDFABB;}

/*CONDITIONS BANNER COLOR CURRENT

.clear .current {
  background-color: lightskyblue;
}
.clouds .current {
  background-color:lightgray;
}

.thunderstorm .current {
  background-color: lightslategray;
}

.rain .current {
  background-color: gainsboro;}


.snow .current {
  background-color:floralwhite;
}

/*WIND
.calm .air {
  background-color:#C7E8FF;
}

.breezy .air {
  background-color:#DFE1FC;
}

.windy .air {
  background-color: #8CCBFF;
}
-->

/*INPUT BOX & BUTTON/ HIDDEN EXTAR ?JS unable to delete*/
input {
  background: white;
  border:none;
}
input:focus {outline:0}

.btn {
  border: none;
  visibility: hidden;
}

button:focus {outline:0;}

.extra {
  visibility: hidden
}

/*LOLA OUTFIT---------------------------------------S*/
.lolabean {
  height:100%;
  width:100%;
}

@media (max-width:500px) {
  .lolabean {
overflow:hidden;}
  .btn {visibility: visible;}
}


.snow .lolabean {
  background-image: url(/images/lolacold.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.clouds .lolabean {
  background-image:url(/images/lolacloud.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size: contain;
}

.cold .lolabean {
  background-image: url(/images/lolacold.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.warm .lolabean {
  background-image:url(/images/lolacloud.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

.hot .lolabean {
  background-image: url(/images/lolahot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rain .lolabean {
background-image: url(/images/rainlola2.png);
background-repeat: no-repeat;
background-position: center;
background-size:contain;
}

.drizzle .lolabean {
background-image: url(/images/rainlola2.png);
background-repeat: no-repeat;
background-position: center;
background-size:contain;
}


/*WEATHER ANIMATIONS*/

/*RAIN ANIMATION--------------------------------*/

.rain .element
{height:50px;
  width:60px;
  animation: top 5s linear infinite;
position: relative;
right:-10rem;
background-image: url(/images/lightrain.png);
background-repeat: no-repeat;
background-size: contain;}


.rain .element-two
{height:50px;
  width:60px;
  animation:top 5s linear infinite;
position: relative;
right:-25rem;
background-image: url(/images/medrain.png);
background-repeat: no-repeat;
background-size: contain;}


.rain .element-three
{height:50px;
  width:60px;
  animation: top 5s linear infinite;
position: relative;
right:-5rem;
background-image: url(/images/darkrain.png);
background-repeat: no-repeat;
background-size: contain;}

.rain .element-four
{height:50px;
  width:60px;
  animation: top 5s linear infinite;
position: relative;
right:-15rem;
background-image: url(/images/medrain.png);
background-repeat: no-repeat;
background-size: contain;}

.rain .element-five
{height:50px;
  width:60px;
  animation: top 5s linear infinite;
position: relative;
right:-25rem;
top:30%;
background-image: url(/images/darkrain.png);
background-repeat: no-repeat;
background-size: contain;}

.rain .element-six
{height:50px;
  width:60px;
  animation: top 5s linear infinite;
position: relative;
right:-20rem;
background-image: url(/images/lightrain.png);
background-repeat: no-repeat;
background-size: contain;}


@keyframes top {
  0% {top: -70%;}
  100% {top:60%;}
}

@media (max-width:500px) {
.rain .element-two {right:-15rem;}
.rain .element-five {right:-6rem;}
.rain .element-six {right:-13rem;}
}


/*DRIZZLE ANIMATION---------------------------------*/

.drizzle .element
{height:50px;
  width:60px;
animation-name: drizzle;
animation-duration: 7s;
animation-timing-function: linear;
position: relative;
top:100%;
left:-20rem;
animation-iteration-count: infinite;
animation-delay: 2s;
background-image: url(/images/lightrain.png);
background-repeat: no-repeat;
background-size: contain;}

.drizzle .element-two
{height:50px;
  width:60px;
animation-name: drizzle;
animation-duration: 7s;
animation-timing-function:linear;
position: relative;
top:100%;
left:-15rem;
animation-iteration-count: infinite;
background-image: url(/images/medrain.png);
background-repeat: no-repeat;
background-size: contain;}

.drizzle .element-three
{height:50px;
  width:60px;
animation-name: drizzle;
animation-duration: 7s;
animation-timing-function:linear;
position: relative;
top:100%;
left:-5rem;
animation-iteration-count: infinite;
animation-delay: 1s;
background-image: url(/images/darkrain.png);
background-repeat: no-repeat;
background-size: contain;}

@keyframes drizzle {
  0% {top:-90%;}
  100% {top:100%}
}


/*SNOW ANIMATION---------------------------------------*/


.snow .flake
{height:50px;
width:60px;
background-image: url(/images/snowflake.png);
background-size: contain;
background-repeat: no-repeat;
position:relative;
transition: all 2s linear;
animation-name: flake;
animation-duration: 5s;
animation-iteration-count: infinite;
}

.snow .flake
{height:50px;
  width:60px;
animation-name: flake;
animation-duration: 5s;
animation-timing-function: linear;
position: relative;
top:-180%;
left:26rem;
animation-iteration-count: infinite;
animation-delay: 1s;
background-image: url(/images/snowflake.png);
background-repeat: no-repeat;
background-size: contain;}

.snow .flake-two
{height:50px;
  width:60px;
animation-name: flake;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
top:-180%;
left:20rem;
animation-iteration-count: infinite;
background-image: url(/images/snowflake.png);
background-repeat: no-repeat;
background-size: contain;}

.snow .flake-three
{height:50px;
  width:60px;
animation-name: flake;
animation-duration: 13s;
animation-timing-function:linear;
position: relative;
top:-180%;
left:10rem;
animation-iteration-count: infinite;
animation-delay: 50ms;
background-image: url(/images/snowflake.png);
background-repeat: no-repeat;
background-size: contain;}

.snow .flake-four
{height:50px;
  width:60px;
animation-name: flake;
animation-duration: 10s;
animation-timing-function:linear;
position: relative;
top:-180%;
left:5rem;
animation-iteration-count: infinite;
animation-delay: 1s;
background-image: url(/images/snowflake.png);
background-repeat: no-repeat;
background-size: contain;}

.snow .flake-five
{height:50px;
  width:60px;
animation-name: flake;
animation-duration: 6s;
animation-timing-function:linear;
position: relative;
top:-180%;
left:-5rem;
animation-iteration-count: infinite;
animation-delay:1s;
background-image: url(/images/snowflake.png);
background-repeat: no-repeat;
background-size: contain;}

.snow .flake-six
{height:50px;
  width:60px;
animation-name: flake;
animation-duration: 6s;
animation-timing-function:linear;
position: relative;
top:-180%;
left:15rem;
animation-iteration-count: infinite;
animation-delay:;
background-image: url(/images/snowflake.png);
background-repeat: no-repeat;
background-size: contain;}

@keyframes flake {
  0% {top:-90%;}
  100% {top:30%;}
}


@media (max-width:500px) {
  .snow .flake {animation-delay:0s;}
  .snow .flake-five {animation-delay:0s;}
    .snow .flake-four {animation-delay:0s;}

}


/*CLOUD ANIMATION-------------------------------------*/

.cloudyday {
  height:6rem;
  width:100%;
  position: relative;
}

.cloudyday2 {
  height:6rem;
  width:100%;
  position: relative;
}


.clouds .cloudyday {
  top: 0%;
  margin: 0;
  animation-name: cloudyday;
  animation-duration: 25s;
  animation-timing-function: linear;
  background-image: url(/images/cloud.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
}

.clouds .cloudyday2 {
  right: 100%;
  top: -10%;
  margin: 0;
  animation-name: cloudyday2;
  animation-duration: 25s;
  animation-timing-function: linear;
  background-image: url(/images/cloud.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
}


@media (max-width:500px) {
  .clouds .cloudyday {top:-10%;}
  .clouds .cloudyday2 {top:-45%;}
  .cloudyday, .cloudyday2 {height:5rem}

}


@keyframes cloudyday {
  0% { left:-100%; }
  100% { left: 100%; }
}

@keyframes cloudyday2 {
  0% { right:-100% }
  100% { right: 100%; }
}


/*SUN ANIMATION----------------------------------*/

.sunnyday {
  height:9rem;
  width:100%;
  position: relative;
}


.clear .sunnyday {
  left: 100%;
  top: -10rem;
  margin: 0;
  animation: sunnyday 25s linear infinite;
  background-image: url(/images/sun.png);
  background-size: contain;
  background-repeat: no-repeat;
}


@media (max-width:500px) {
  .clear .sunnyday {
    top:-10rem;
  }
  .sunnyday {height:7rem}
}

@keyframes sunnyday{
  0% { left: -100%; }
  100% { left: 100%; }
}


/*THUNDERSTORM----------------------------------*/


.storm{
  height:7rem;
  width:100%;
  position: relative;
}


.thunderstorm .storm {
  position: relative;
  left: 100%;
  top: -15rem;
  margin: 0;
  animation-name: storm;
  animation-duration: 15s;
  animation-timing-function: linear;
  background-image: url(/images/cloud.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
}


@keyframes storm {
  0% { left: 0%; }
  100% { left: 100%; }
}



.thunderstorm .bolt
{height:80px;
  width:60px;
  animation-name: bolt;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
top:-200%;
left:20rem;
animation-iteration-count: infinite;
animation-delay:3s;
background-image: url(/images/bolt.png);
background-repeat: no-repeat;
background-size: contain;}

.thunderstorm .bolt-two
{height:80px;
  width:60px;
  animation-name: bolt;
animation-duration: 4s;
animation-timing-function:linear;
position: relative;
top:-200%;
left:10rem;
animation-iteration-count: infinite;
animation-delay:2s;
background-image: url(/images/bolt.png);
background-repeat: no-repeat;
background-size: contain;}


@keyframes bolt {
  0% {top:-90%;}
  100% {top:100%}
}


/*THUNDERSTORM RAIN*/

.thunderstorm .element
{height:50px;
  width:60px;
animation-name: topp;
animation-duration: 5s;
animation-timing-function: linear;
position: relative;
right:-10rem;
animation-iteration-count: infinite;
background-image: url(/images/lightrain.png);
background-repeat: no-repeat;
background-size: contain;}


.thunderstorm .element-two
{height:50px;
  width:60px;
animation-name: topp;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
right:-20rem;
animation-iteration-count: infinite;
background-image: url(/images/medrain.png);
background-repeat: no-repeat;
background-size: contain;}

.thunderstorm .element-three
{height:50px;
  width:60px;
animation-name: topp;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
right:-15rem;
animation-iteration-count: infinite;
background-image: url(/images/darkrain.png);
background-repeat: no-repeat;
background-size: contain;}

.thunderstorm .element-four
{height:50px;
  width:60px;
animation-name: topp;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
right::-25rem;
animation-iteration-count: infinite;
background-image: url(/images/darkrain.png);
background-repeat: no-repeat;
background-size: contain;}

.thunderstorm .element-five
{height:50px;
  width:60px;
animation-name: topp;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
top:100%;
right:-17rem;
animation-iteration-count: infinite;
animation-delay:3s;
background-image: url(/images/medrain.png);
background-repeat: no-repeat;
background-size: contain;}

.thunderstorm .element-six
{height:50px;
  width:60px;
animation-name: topp;
animation-duration: 5s;
animation-timing-function:linear;
position: relative;
top:100%;
right:-22rem;
animation-iteration-count: infinite;
animation-delay:2s;
background-image: url(/images/lightrain.png);
background-repeat: no-repeat;
background-size: contain;}


@keyframes topp {
  0% {top:-90%;
  }
  100% {top:100%;}
}


/*WINDY*/

.windyday {
    height:5rem;
    width:100%;
    position: relative;
  }
  .windyday2 {
      height:5rem;
      width:100%;
      position: relative;
    }


  .breezy .windyday {
    top: -45%;
    margin: 0;
    animation-name: windyday;
    animation-duration: 15s;
    animation-timing-function: linear;
    background-image: url(/images/wind.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
  }

@media (max-width:500px) {
  .breezy .windyday {top:-150%;}
  .windyday {height:4rem;
  width:5rem;}
}

  .windy .windyday {
    left: 100%;
    top: -80%;
    margin: 0;
    animation-name: windyday;
    animation-duration: 6s;
    animation-timing-function: linear;
    background-image: url(/images/wind.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
  }

  .windy .windyday2 {
    right: 100%;
    top: -75%;
    margin: 0;
    animation-name: windyday2;
    animation-duration: 7s;
    animation-timing-function: linear;
    background-image: url(/images/wind2.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
  }


  @keyframes windyday {
    0% { left: -100%; }
    100% { left: 100%; }
  }

  @keyframes windyday2 {
    0% { right:-60% }
    100% { right: 100%; }
  }



  /*LOLA'S PAGE*/
  .numbers {font-weight: bolder;}

.lolapage {background-color: #FCFBE8;}
